## Deliverable 2. Create a Customer Travel Destinations Map.

In [14]:
# Dependencies and Setup
import pandas as pd
import numpy as np
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [2]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("../Weather_Database/WeatherPy_database.csv")
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Namibe,AO,-15.1961,12.1522,61.38,90,54,8.57,broken clouds
1,1,Provideniya,RU,64.3833,-173.3000,48.36,100,100,8.99,overcast clouds
2,2,Albany,US,42.6001,-73.9662,81.68,53,83,9.35,broken clouds
3,3,Bhilwara,IN,25.3500,74.6333,76.59,91,99,8.41,light rain
4,4,Bluff,NZ,-46.6000,168.3333,41.65,80,99,9.69,overcast clouds

In [3]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 70
What is the maximum temperature you would like for your trip? 95

In [4]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
2,2,Albany,US,42.6001,-73.9662,81.68,53,83,9.35,broken clouds
3,3,Bhilwara,IN,25.3500,74.6333,76.59,91,99,8.41,light rain
7,7,Kahului,US,20.8947,-156.4700,91.42,49,20,28.77,few clouds
8,8,Kapaa,US,22.0752,-159.3190,84.18,71,20,14.97,few clouds
9,9,Sur,OM,22.5667,59.5289,89.53,59,100,4.12,overcast clouds
10,10,Vung Tau,VN,10.3460,107.0843,78.82,86,89,6.67,overcast clouds
11,11,Weihai,CN,37.5017,122.1136,73.89,86,10,5.28,clear sky
15,15,Butaritari,KI,3.0707,172.7902,81.99,75,97,13.06,overcast clouds
16,16,Atuona,PF,-9.8000,-139.0333,77.22,68,33,25.48,scattered clouds
18,18,Hithadhoo,MV,-0.6000,73.0833,81.55,74,5,6.91,clear sky

In [5]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.count()

City_ID                357
City                   357
Country                357
Lat                    357
Lng                    357
Max Temp               357
Humidity               357
Cloudiness             357
Wind Speed             357
Current Description    357
dtype: int64

In [6]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
clean_df = preferred_cities_df.dropna()
clean_df

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
2,2,Albany,US,42.6001,-73.9662,81.68,53,83,9.35,broken clouds
3,3,Bhilwara,IN,25.3500,74.6333,76.59,91,99,8.41,light rain
7,7,Kahului,US,20.8947,-156.4700,91.42,49,20,28.77,few clouds
8,8,Kapaa,US,22.0752,-159.3190,84.18,71,20,14.97,few clouds
9,9,Sur,OM,22.5667,59.5289,89.53,59,100,4.12,overcast clouds
...,...,...,...,...,...,...,...,...,...,...
679,679,Acaponeta,MX,22.4964,-105.3594,92.41,53,86,10.78,overcast clouds
680,680,Hirara,JP,24.8000,125.2833,82.26,94,75,2.30,broken clouds
681,681,Puttur,IN,12.7667,75.2167,77.11,85,97,6.44,overcast clouds
682,682,Hailey,US,43.5196,-114.3153,91.89,36,0,10.36,clear sky
684,684,Ocean City,US,39.2776,-74.5746,88.05,76,100,4.00,overcast clouds

In [7]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
2,Albany,US,81.68,broken clouds,42.6001,-73.9662,
3,Bhilwara,IN,76.59,light rain,25.3500,74.6333,
7,Kahului,US,91.42,few clouds,20.8947,-156.4700,
8,Kapaa,US,84.18,few clouds,22.0752,-159.3190,
9,Sur,OM,89.53,overcast clouds,22.5667,59.5289,
10,Vung Tau,VN,78.82,overcast clouds,10.3460,107.0843,
11,Weihai,CN,73.89,clear sky,37.5017,122.1136,
15,Butaritari,KI,81.99,overcast clouds,3.0707,172.7902,
16,Atuona,PF,77.22,scattered clouds,-9.8000,-139.0333,
18,Hithadhoo,MV,81.55,clear sky,-0.6000,73.0833,

In [8]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():

    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    params["location"] = f"{lat},{lng}"

    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping to the next city.")

Hotel not found... skipping to the next city.
Hotel not found... skipping to the next city.
Hotel not found... skipping to the next city.
Hotel not found... skipping to the next city.
Hotel not found... skipping to the next city.
Hotel not found... skipping to the next city.
Hotel not found... skipping to the next city.
Hotel not found... skipping to the next city.
Hotel not found... skipping to the next city.
Hotel not found... skipping to the next city.
Hotel not found... skipping to the next city.
Hotel not found... skipping to the next city.
Hotel not found... skipping to the next city.
Hotel not found... skipping to the next city.
Hotel not found... skipping to the next city.
Hotel not found... skipping to the next city.
Hotel not found... skipping to the next city.
Hotel not found... skipping to the next city.
Hotel not found... skipping to the next city.
Hotel not found... skipping to the next city.
Hotel not found... skipping to the next city.
Hotel not found... skipping to the next city.
Hotel not found... skipping to the next city.

In [17]:
# 7. Drop the rows where there is no Hotel Name.
hotel_df["Hotel Name"].replace("", np.nan, inplace=True)
hotel_df.dropna(subset=["Hotel Name"], inplace=True)
hotel_df

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
3,Bhilwara,IN,76.59,light rain,25.3500,74.6333,Hotel Radiance Bhilwara
7,Kahului,US,91.42,few clouds,20.8947,-156.4700,Maui Seaside Hotel
8,Kapaa,US,84.18,few clouds,22.0752,-159.3190,Sheraton Kauai Coconut Beach Resort Hotel
9,Sur,OM,89.53,overcast clouds,22.5667,59.5289,Sur Plaza Hotel
10,Vung Tau,VN,78.82,overcast clouds,10.3460,107.0843,Seaside Resort
...,...,...,...,...,...,...,...
679,Acaponeta,MX,92.41,overcast clouds,22.4964,-105.3594,Hotel Casa Blanca
680,Hirara,JP,82.26,broken clouds,24.8000,125.2833,Hotel Atoll Emerald Miyakojima
681,Puttur,IN,77.11,overcast clouds,12.7667,75.2167,Hotel Super Tower
682,Hailey,US,91.89,clear sky,43.5196,-114.3153,Wood River Inn & Suites
684,Ocean City,US,88.05,overcast clouds,39.2776,-74.5746,Biscayne Suites

In [26]:
# 8a. Create the output File (CSV)
output_data_file = "WeatherPy_vacation.csv"

# 8b. Export the City_Data into a csv
hotel_df.to_csv(output_data_file, index_label="City_ID")

In [24]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = hotel_df[["Lat", "Lng"]]

In [25]:
# 11a. Add a marker layer for each city to the map. 
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))